.button {
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(247, 216, 197);
}

.button.appareance {
    font-size: 15px;
    border-radius: 100px;
    background-color: rgb(216, 236, 236);
}

.button.active {
    background-color: rgb(54, 209, 157);
}

.button.appareance:hover {
    background-color: rgb(180, 193, 193);
}

.all {
    background-color: rgb(219, 142, 158);

}
.button.S{
    height: 20px;
}
.button.M{
    height: 35px;
}