.pokemon_stat {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50vh;
    width: 50vh; */
}

.pokemon_stat_name {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 3em;
}

.type_by_id {
    display: flex;
    align-items: center;
}