.position-btn-back{
    margin-top: 20px;
    right: 10em;
}
.pokemon_stat {
    display: flex;
    padding-top: 20px;
}

.pokemon_container {
    padding-top: 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pokemon_stat_name {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 3em;
}

.type_by_id {
    display: flex;
    align-items: center;
}

@media (min-width: 340px) and (max-width: 900px) {

    .pokemon_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5em;
        padding-top: 5em;
    }

    .type_by_id {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .pokemon_stat {
        display: flex;
        padding-top: 20px;

    }
}