img {
    height: 100px;
    width: 200px;
    image-rendering: -moz-crisp-edges; 
}

.picture.xl {
    height: 50vh;
    width: 50vh;
}
.picture.l {
    height: 30vh;
    width: 30vh;
}

.picture.spinner{
    height: 3em;
    width: 4em;
    animation: rotateSpinner 800ms linear infinite;
}
@keyframes rotateSpinner {
    to {
    transform: rotate(300deg);
    }
}

@media (min-width: 340px) and (max-width: 900px) {

    .picture.xl {
        padding-bottom: 25px;
        height: 20vh;
        width: 30vh;
    }
}