.card {
    padding: 20px;
}

.card.margin {
    margin: 20px;
}

.card.padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card.allPok {
    border: solid 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card.cardInformation {
    border-radius: 10px;
}

.card_info {
    display: flex;
    justify-content: center;
}


.card_flex.flexRow {
    display: flex;
    flex-direction: row;
}