.ul_card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}
.li_card{
    list-style-type: none;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;

}