.modal_pokemon{
    position: absolute;
    border-radius: 20px;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: rgb(255, 238, 241);
}
@media screen and (max-width: 460px ) {
    .modal_pokemon{
        width: 50%;
    }
}
.modal_center{
    display: flex;
    justify-content: center;
    padding-bottom: 10px; ;
}
.modal_row{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.modal_column{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.info{
    font-size: 20px;
    font-weight: 600;
}