.pokemon_page {
    /* height: 100%;
    width: 100%; */

}

.home-btn-top {
    position: fixed;
    bottom: 10px;
    right: 30px;
}

.pokemon_page_background {

    height: 100%;
    width: 100%;
    background: url(../../public/background_pokemons.png);
}