.navbar {
    position: fixed;
    right: 15px;
    top: 40%;
    width: 5em;
    border-radius: 30px;
    background-color: rgb(244, 229, 229);
    padding: 15px 10px;
    list-style: none;
    outline: none;
}

.container_navbar_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 340px) and (max-width: 950px) {
    .navbar {
        margin-right: 0.5em;
        width: 3em;
    }
}