.Navbar {
    position: fixed;
    right: 15px;
    top: 40%;
    width: 5em;
    border-radius: 30px;
    background-color: rgb(235, 216, 216);
    padding: 15px 10px;
    list-style: none;
    outline: none;
}

.container_navbar_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}