.position-btn {
    position: relative;
    right: -28em;
    top: -4em;
}

.regle {
    height: 10vh;
    width: 10vh;
    position: relative;
    bottom: 10px;
    left: 80em;
}

.reglement {
    padding-bottom: 20px;
}

.container-regle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}