.valide_players {
    display: flex;
    justify-content: center;
}

.valide_players_check {
    padding: 20px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    font-size: x-large;

}