.valide_players_check {
    border: solid 1px;
    width: 10em;
}

.container_valid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.valide_players {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.input_name_players {
    display: flex;
    flex-direction: column;
}

.score {
    padding-top: 20px;
    padding-bottom: 20px;
}
.container-random-pokemons{
    margin-top: 8em;
}