.container_pokemons {
    display: flex;
    justify-content: center;
}

.pokemons {
    display: flex;
    flex-wrap: wrap;
    width: 25rem;
    justify-content: space-evenly;
    background-color: whitesmoke;

}